.set-env {
  position: fixed;
  bottom: 200rpx;
  right: 0;
  z-index: 9999;
  width: 150rpx;
  height: 80rpx;
  background: rgba(10, 83, 224, .7);
  border-radius: 10px 0 0 10px;
}

.env-ti {
  color: #fff;
  line-height: 75rpx;
  width: 100%;
  text-align: center;
}

.env-box {
  position: fixed;
  bottom: 220rpx;
  right: 0;
  z-index: 9999;
}

.env-box .env-list {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 250rpx;
}

.env-box .env-list .env-list-item {
  background-color: rgb(202, 122, 9);
  margin-bottom: 25rpx;
}

.env-box .btn-item {
  color: #fff;
  height: 70rpx;
  line-height: 70rpx;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  border-radius: 20rpx 0 0 20rpx;
  text-align: center;
}

.env-box .env-cancel {
  width: 250rpx;
  background-color: rgb(4, 75, 173);
  margin: 25rpx 0;
}

.ani-base {
  right: -250rpx;
  transition: .3s;
}

.is-act {
  right: 0;
}

.env-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9997;
}